@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body{
    width: 45vw;
    height: 70vh;
    margin-left: 30vw;
    margin-right: 25vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}
.exput{
    height: 20%;
    align-items: center;
    align-self: center;
}
button{
    font-family: 'Roboto', sans-serif;
    background-color: #D581D6;
    font-size: 3vw;
}
input{
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    width: 30vw;
    background-color: #D581D6;
}
.main{
    align-items: center;
    background-color: #EE8FF0;
    padding-top: 5vh;
    padding-bottom: 10vh;
    padding-left: 3vh;
    padding-right: 3vh;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 3vh;
    box-shadow: 1vh 1vh #AF6AB0;
}
.input{
    align-self: center;
    align-items: center;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.upper_part{
    display: flex;
    flex-direction: column;
}
.input_box{
    margin-bottom: 5%
}
.reboot{
    padding-bottom: 5vh;
}